<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= profile.name %>'s Profile</h1>
  <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
  <h3>Reviews Made:</h3>
  <% reviews.forEach(review => { %>
    <ul>
      <li>Anime ID: <%= review.anime %> </li>
      <li>Rating: <%= review.rating %></li>
      <li>Description: <%= review.content %> </li>
    </ul>
      <% }) %>
    <h3>Currently Watching:</h3>
    <% animes.forEach(anime => { %>
      <ul>
        <a href="/anime/<%= anime.animeId %>">
          <img src="<%= anime.coverImage %>" alt="broken">
        </a>
        <li><%= anime.animeTitle %> </li>
        <li>Anime ID: <%= anime.animeId %> </li>
      </ul>
    <% }) %>
</main>

<%- include('../partials/footer') %>
