<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('./partials/nav') %>

<main>
  <h1>Welcome, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
  <div>
    <form action="/anime/results" method="POST">
      <input type="search" name="search" placeholder="Search Anime">
    </form>
  </div>
  <img src="/images/funny/mei-sus.png" alt="mei-sus">
</main>

<%- include('./partials/footer') %>
