<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Search</h1>
<div>
  <form action="/anime/results" method="POST">
    <input type="search" name="search" placeholder="Search Anime">
  </form>
</div>
<% if (results) {%> 
  <main>
    <div class="container py-5 px-3">
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g5 px-sm-5 px-4">
        <% results.forEach(anime => { %>
          <div class="col">
            <div class="card bg-dark shadow-sm mt-3">
              <% if (anime.cover_image) { %>
                <img
                src="<%= anime.cover_image %> " 
                alt="<%= anime.cover_image %>'s Image"
                width="100%"
                height="100%"
                >
              <% } %> 
              <div class="card-body">
                <p class="card-ttle"><%= anime.titles.en %> </p>
                <p class="card-ttle"><%= anime.titles.jp %> </p>
              </div>
              <a href="/anime/<%= anime.id %>" class="btn btn-primary">Details</a>
            </div>
          </div>
    <% }) %>
    </div>
  </div>
  </main>
<% } %> 
<% if (!results) { %>
  <h2>No Results</h2>
<% } %> 

<%- include('../partials/footer') %></link>