<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/anime/show.css">
  <%- include('../partials/nav') %>


    <main>
      <div class="banner">
        <div class="banner-image" style="background-image: url('<%= results.banner_image %>');">
        </div>
      </div>
      <div class="meat is-flex-wrap-wrap">
        <% if (results.cover_image) { %>
          <div class="block cover-image section">
            <div>
              <img src="<%= results.cover_image %>" alt="<%= results.cover_image %>'s Image">
            </div>
            <% if (!userAnimes) { %>
              <form action="/anime/<%= results.id %>/addToList?_method=PATCH" method="POST">
                <input type="text" name="animeTitle" value="<%= results.titles.en %>" hidden>
                <input type="text" name="animeId" value="<%= results.id %>" hidden>
                <input type="text" name="coverImage" value="<%= results.cover_image %>" hidden>
                <button class="button is-success">
                  Add to Watching
                </button>
              </form>
              <% } %>
                <% if (userAnimes) { %>
                  <form action="/anime/<%= results.id %>/removeFromList?_method=PATCH" method="POST">
                    <button class="button is-danger">
                      Remove from Watching
                    </button>
                  </form>
                  <% } %>
          </div>
          <% } %>
            <div class="block contents section box">
              <h1 class="title is-1">
                <%= results.titles.en %>
              </h1>
              <h2 class="title is-2">
                <%= results.titles.jp %>
              </h2>
              <p>Description: <%= results.descriptions.en %>
              </p>
              <p>Release Date: <%= results.start_date %>
              </p>
              <p>Rating: <%= results.score %>/100 </p>
              <p>Episodes: <%= results.episode_duration %>
              </p>
            </div>
            <div class="section">
              <% if (results.trailer_url) {%>
                <iframe width="560" height="315" src="<%= results.trailer_url %>" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
                <% } %>
            </div>

            <div class="meat-two">
              <div class="section block">
                <h3>Genres</h3>
                <ul>
                  <% results.genres.forEach(genre=> { %>
                    <li>
                      <%= genre %>
                    </li>
                    <% }) %>
                </ul>
              </div>
              <div class="box section block">
                <h2>Reviews:</h2>

                <% if (anime?.reviews.length) { %>
                  <% anime.reviews.forEach(review=> { %>
                    <div class="box">
                      <div>
                        <h3>
                          <%= review.author.name %>
                        </h3>
                      </div>
                      <div>
                        <p>
                          <%= review.content %>
                        </p>
                      </div>
                    </div>
                    <% }) %>
                      <% } %>
                        <% if (userAnimes && !userReviewed) { %>
                          <form action="/reviews/<%= results.id %>" method="POST">
                            <div class="select">
                              <select class="form-select" name="rating">
                                <option selected>Rate</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>

                            <div class="input-group my-5">
                              <span class="input-group-text">Review:</span>
                              <textarea class="textarea" name="content" placeholder="Comments"></textarea>
                            </div>

                            <button class="button is-success mb-5">Add Review</button>
                          </form>
                          <% } %>
              </div>
            </div>
      </div>

    </main>



    <%- include('../partials/footer') %>
      </link>